* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color1 {
    background-color: #533483;
}

.col-3 {
    height: 400px;
    text-align: center;
    color: white;
}

.no-bg {
    background-color:#E94560;
}